USE [ges_AMM]
GO
/****** Object:  Table [dbo].[ETAPE_NORMEE]    Script Date: 12/12/2021 19:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETAPE_NORMEE](
	[ETP_NUM] [int] NOT NULL,
	[ETP_NORME] [nvarchar](20) NOT NULL,
	[ETP_DATE_NORME] [date] NULL,
 CONSTRAINT [pk3] PRIMARY KEY CLUSTERED 
(
	[ETP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ETAPE_NORMEE]  WITH CHECK ADD  CONSTRAINT [fk1] FOREIGN KEY([ETP_NUM])
REFERENCES [dbo].[ETAPE] ([ETP_NUM])
GO
ALTER TABLE [dbo].[ETAPE_NORMEE] CHECK CONSTRAINT [fk1]
GO
