USE [ges_AMM]
GO
/****** Object:  Table [dbo].[SUBIR]    Script Date: 12/12/2021 19:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBIR](
	[MED_DEPOTLEGAL] [varchar](50) NULL,
	[ETP_NUM] [varchar](50) NULL,
	[DCS_ID] [varchar](50) NULL,
	[dateDecision] [varchar](50) NULL
) ON [PRIMARY]
GO
