USE [master]
GO
/****** Object:  Database [ges_AMM]    Script Date: 12/12/2021 18:07:15 ******/
CREATE DATABASE [ges_AMM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_gesAMM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_gesAMM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_gesAMM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_gesAMM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ges_AMM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ges_AMM]
GO
/****** Object:  Table [dbo].[DECISION]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DECISION](
	[DCS_ID] [int] NOT NULL,
	[DCS_LIBELLE] [nvarchar](15) NOT NULL,
 CONSTRAINT [pk1] PRIMARY KEY CLUSTERED 
(
	[DCS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETAPE]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETAPE](
	[ETP_NUM] [int] NOT NULL,
	[ETP_LIBELLE] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk2] PRIMARY KEY CLUSTERED 
(
	[ETP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETAPE_NORMEE]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETAPE_NORMEE](
	[ETP_NUM] [int] NOT NULL,
	[ETP_NORME] [nvarchar](20) NOT NULL,
	[ETP_DATE_NORME] [date] NULL,
 CONSTRAINT [pk3] PRIMARY KEY CLUSTERED 
(
	[ETP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAMILLE]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILLE](
	[FAM_CODE] [nvarchar](3) NOT NULL,
	[FAM_LIBELLE] [nvarchar](80) NULL,
 CONSTRAINT [pk6] PRIMARY KEY CLUSTERED 
(
	[FAM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAMENT]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENT](
	[MED_DEPOTLEGAL] [nvarchar](10) NOT NULL,
	[MED_NOMCOMMERCIAL] [nvarchar](25) NULL,
	[FAM_CODE] [nvarchar](3) NOT NULL,
	[MED_COMPOSITION] [nvarchar](255) NULL,
	[MED_EFFETS] [nvarchar](255) NULL,
	[MED_CONTREINDIC] [nvarchar](255) NULL,
	[MED_PRIXECHANTILLON] [real] NULL,
	[Derniere_etape] [int] NULL,
 CONSTRAINT [pk4] PRIMARY KEY CLUSTERED 
(
	[MED_DEPOTLEGAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBIR]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBIR](
	[MED_DEPOTLEGAL] [varchar](50) NULL,
	[ETP_NUM] [varchar](50) NULL,
	[DCS_ID] [varchar](50) NULL,
	[dateDecision] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ETAPE_NORMEE]  WITH CHECK ADD  CONSTRAINT [fk1] FOREIGN KEY([ETP_NUM])
REFERENCES [dbo].[ETAPE] ([ETP_NUM])
GO
ALTER TABLE [dbo].[ETAPE_NORMEE] CHECK CONSTRAINT [fk1]
GO
ALTER TABLE [dbo].[MEDICAMENT]  WITH CHECK ADD  CONSTRAINT [fk7] FOREIGN KEY([FAM_CODE])
REFERENCES [dbo].[FAMILLE] ([FAM_CODE])
GO
ALTER TABLE [dbo].[MEDICAMENT] CHECK CONSTRAINT [fk7]
GO
ALTER TABLE [dbo].[MEDICAMENT]  WITH CHECK ADD  CONSTRAINT [fk8] FOREIGN KEY([Derniere_etape])
REFERENCES [dbo].[ETAPE] ([ETP_NUM])
GO
ALTER TABLE [dbo].[MEDICAMENT] CHECK CONSTRAINT [fk8]
GO
/****** Object:  StoredProcedure [dbo].[prc_ajouter_medicament]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_ajouter_medicament]
	-- Add the parameters for the stored procedure here
	@DepotLegal nchar(10),
	@NomCommercial nchar(25),
	@FamilleCode nchar(3),
	@Composition nchar(255),
	@Effet nchar(255),
	@ContreIndication nchar(255),
	@PrixUnitaire float

AS
BEGIN
	SET NOCOUNT ON;
	
    -- Insertion du medicament
	INSERT INTO MEDICAMENT (MED_DEPOTLEGAL, MED_NOMCOMMERCIAL, FAM_CODE, MED_COMPOSITION, MED_EFFETS, MED_CONTREINDIC, MED_PRIXECHANTILLON) VALUES (@DepotLegal, @NomCommercial, @FamilleCode, @Composition, @Effet, @ContreIndication, @PrixUnitaire)
END
GO
/****** Object:  StoredProcedure [dbo].[prc_get_decision]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[prc_get_decision]

AS
BEGIN

	SET NOCOUNT ON;

	SELECT * from DECISION
END
GO
/****** Object:  StoredProcedure [dbo].[prc_get_etape]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[prc_get_etape]
	-- Add the parameters for the stored procedure here

AS
BEGIN

	SET NOCOUNT ON;

	SELECT ETAPE.ETP_NUM, ETP_LIBELLE, ETP_NORME, ETP_DATE_NORME
	from ETAPE_NORMEE
	inner join ETAPE on ETAPE_NORMEE.ETP_NUM = ETAPE.ETP_NUM
	Order by ETAPE.ETP_NUM
END
GO
/****** Object:  StoredProcedure [dbo].[prc_get_familles]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[prc_get_familles]
AS
BEGIN

	SET NOCOUNT ON;
	select * from FAMILLE
END
GO
/****** Object:  StoredProcedure [dbo].[prc_get_medicament]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[prc_get_medicament]

AS
BEGIN

	SET NOCOUNT ON;
	select* from MEDICAMENT
END
GO
/****** Object:  StoredProcedure [dbo].[prc_get_workflow]    Script Date: 12/12/2021 18:07:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[prc_get_workflow](@depotLegal varchar(10))
AS
BEGIN

	SET NOCOUNT ON;

	SELECT * from SUBIR WHERE MED_DEPOTLEGAL = @depotLegal
END
GO
USE [master]
GO
